.takers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* padding: 4rem 2rem; */
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #ffffff;
  /* min-height: 60vh; */
  opacity: 0;
  transform: translateY(8rem);
  transition: transform 1s ease, opacity 1s ease;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 0;
}

.takers-container.visible {
  opacity: 1;
  transform: translateY(0);
}

.takers-heading {
  font-size: 40px;
  font-weight: 500;
  color: #013b59;
  margin-bottom: 40px;
}

.takers-items {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
}

.takers-card {
  background-color: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  padding: 2rem;
  max-width: 300px;
  width: 100%;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease;
}

.takers-card.fade-in {
  opacity: 1;
  transform: translateY(0);
}

/* .takers-card:hover {
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
} */

.takers-card img {
  /* width: 70px;
  height: 70px; */
  object-fit: contain;
  filter: brightness(0) saturate(100%) invert(14%) sepia(31%) saturate(1684%)
    hue-rotate(162deg) brightness(94%) contrast(97%);
  margin-bottom: 1rem;
}

.takers-card h1 {
  font-size: 20px;
  font-weight: 700;
  color: #013b59;
  margin: 0.8rem 0;
}

.takers-card p {
  font-size: 1rem;
  color: #4f6370;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .takers-heading {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 30px;
  }

  .takers-card h1 {
    font-size: 18px;
  }

  .takers-card p {
    font-size: 15px;
  }

  .takers-items {
    gap: 1.5rem;
  }
}

@media (max-width: 480px) {
  .takers-heading {
    font-size: 26px;
  }

  .takers-card {
    padding: 1.5rem;
  }

  .takers-card h1 {
    font-size: 17px;
  }

  .takers-card p {
    font-size: 14px;
  }
}
