.instructorr {
  /* max-width: 800px; */
  margin: 80px auto;
  /* padding: 0 100px; */
  padding-left: 10%;
  padding-right: 10%;
  position: relative;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
}

.instructorr-title {
  text-align: center;
  font-size: 40px;
  color: #013b59;
  font-weight: 500;
  margin-bottom: 40px;
  width: 100%;
}

/* .sliderr-container {
  width: 100%;
  position: relative;
} */

.next-btnn,
.back-btnn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 15px;
  width: 50px;
  /* height: 50px; */
  /* margin-top: 50px; */
  border-radius: 50%;
  cursor: pointer;
  background: #013b59;
  /* z-index: 10; */
}

.next-btnn {
  right: 100px;
}

.back-btnn {
  /* left: -10px; */
  /* right: auto; */
  left: 100px;
}

.sliderr {
  overflow: hidden;
  /* width: 100%; */
}

.sliderr ul {
  display: flex;
  width: 200%;
  overflow: hidden;
  transition: 0.5s;
}

.sliderr ul li {
  list-style: none;
  width: 25%;
  /* box-sizing: border-box; */
  padding: 20px;
}

.slidee {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 50px;
  border-radius: 10px;
  color: #676767;
  line-height: 1.6;
  height: 400px;
  /* display: flex;
  flex-direction: column; */
}

.slidee img {
  width: 65px;
  border-radius: 50%;
  margin-right: 10px;
  border: 4px solid #013b59;
}

.user-infoo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 15px;
}

.user-infoo h3 {
  color: #013b59;
  font-size: 20px;

  margin: 0;
}

.user-infoo span {
  font-size: 16px;
  color: #888;
}

.slidee p {
  flex-grow: 1;
  overflow-y: auto;
}

@media (max-width: 800px) {
  .instructorr {
    padding: 0 30px;
  }
  .instructorr-title {
    font-size: 2rem;
  }
  .next-btnn,
  .back-btnn {
    padding: 10px;
    width: 35px;
    height: 35px;
  }
  .slidee {
    padding: 20px;
    height: 350px;
  }
}

@media (max-width: 600px) {
  .instructorr-title {
    font-size: 1.8rem;
  }
  .user-infoo {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
  }
  .user-infoo img {
    margin-bottom: 10px;
  }
  .user-infoo h3 {
    font-size: 16px;
  }
  .slidee p {
    font-size: 14px;
  }
}
