.membership {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: auto;
}

.membership h2 {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 20px;
  font-family: "Outfit", sans-serif;
  font-size: 2em;
  color: #013b59;
}
