.testimonial-carousel {
  margin: 80px auto;
  padding: 0 80px;
  position: relative;
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  background: #212ea0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-button.next {
  right: 0;
}

.nav-button.prev {
  left: 0;
}

.testimonial-container {
  overflow: hidden;
  display: flex;
  width: 400%; /* Adjust based on number of testimonials */
  transition: transform 0.5s ease;
}

.testimonial-card {
  width: 25%; /* 100% / 4 visible cards */
  padding: 20px;
  box-sizing: border-box;
}

.testimonial-content {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  padding: 40px;
  border-radius: 10px;
  color: #676767;
  line-height: 1.4;
}

.testimonial-name {
  color: #212ea0;
  margin-top: 20px;
  margin-bottom: 5px;
}

.testimonial-role {
  font-size: 15px;
  color: #676767;
}

@media (max-width: 800px) {
  .testimonial-carousel {
    padding: 0 40px;
  }

  .nav-button {
    padding: 10px;
    width: 35px;
    height: 35px;
  }

  .testimonial-card {
    padding: 10px;
  }

  .testimonial-content {
    padding: 20px;
  }
}

@media (max-width: 600px) {
  .testimonial-name {
    font-size: 16px;
  }

  .testimonial-role {
    font-size: 12px;
  }

  .testimonial-content {
    font-size: 12px;
  }
}
