.pricing-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

.pricing-container h2 {
  text-align: center;
  margin-bottom: 40px;
  color: #333;
}

/* .pricing-container h3 {
  font-size: 25px;
  font-weight: 200;
} */

.pricing-container h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 24px;
  font-weight: 200;
  margin: 0;
  margin-bottom: 50px;
  color: #333;
  max-width: 80%; /* Control how wide the heading text can go */
  margin: 0 auto 10px;
  word-wrap: break-word; /* Ensure text wraps */
  white-space: normal; /* Allow text to wrap to new lines */
}

.pricing-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.pricing-card {
  flex: 1 1 calc(33.333% - 20px);
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
  margin-bottom: 20px;
}

.pricing-card:hover {
  transform: translateY(-5px);
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 20px;
}

.card-icon {
  font-size: 40px;
  color: #0077be;
  margin-bottom: 10px;
}

.pricing-card h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.price {
  font-size: 28px;
  font-weight: bold;
  color: #0077be;
  margin-bottom: 20px;
}

/* .price-amount {
  color: #565e7c;
} */

.price-period {
  color: #666;
  font-size: 18px;
  font-weight: normal;
}

.pricing-card ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

.pricing-card li {
  margin-bottom: 10px;
  color: #666;
}

.cta-button {
  background-color: #0077be;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #005fa3;
}

@media (max-width: 768px) {
  .pricing-cards {
    flex-direction: column;
    /* flex: 1 1 100%; */
  }
}
