.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 0;
  /* padding-bottom: 8rem; */
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
  width: 100%;
}

.head h2 {
  font-size: 40px;
  font-weight: 500;
  color: #013b59;
  font-family: "Outfit", sans-serif;
  margin-bottom: 40px;
}

.head p {
  font-size: 24px;
  color: #555;
  margin-bottom: 30px;
  max-width: 900px;
}

.program {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.programm {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  width: 300px;
}

/* .programm:hover {
  transform: translateY(-5px);
} */

.programm img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.pricing-info {
  padding: 20px;
  text-align: center;
}

.pricing-info h3 {
  font-weight: 500;
  font-size: 1.5rem;
  color: #013b59;
}

.program .description {
  font-size: 1rem;
  color: #555;
  margin-bottom: 20px;
}

.enroll-btn {
  background-color: #013b59;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.enroll-btn:hover {
  background-color: #012a45;
}

@media (max-width: 1024px) {
  .head h2 {
    font-size: 32px;
  }

  .head p {
    font-size: 20px;
  }

  .programm {
    width: 280px;
  }
}

@media (max-width: 768px) {
  .head {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .head h2 {
    font-size: 28px;
    margin-bottom: 30px;
  }

  .head p {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .programm {
    width: 100%;
    max-width: 400px;
  }
}

@media (max-width: 480px) {
  .head h2 {
    font-size: 24px;
  }

  .programm img {
    height: 180px;
  }

  .pricing-info h3 {
    font-size: 20px;
  }

  .program .description {
    font-size: 15px;
  }

  .enroll-btn {
    font-size: 0.9rem;
    padding: 8px 16px;
  }
}
