.head {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  width: 100%;
}

.head h2 {
  font-size: 40px;
  font-weight: 500;
  color: #013b59;
  font-family: "Outfit", sans-serif;
  margin-bottom: 10px;
}

.head p {
  font-size: 24px;
  color: #555;
  margin-bottom: 40px;
  max-width: 900px;
}

.program {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.programm {
  flex-basis: 31%;
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

/* .programm:hover {
  transform: translateY(-5px);
} */

.programm img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.caption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 15, 152, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  opacity: 0;
  transition: 0.4s;
}

.caption img {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

/* .programm:hover .caption {
  opacity: 1;
} */

.pricing-info {
  padding: 20px;
  text-align: center;
}

.pricing-info h3 {
  font-size: 1.5em;
  color: #013b59;
  margin-bottom: 10px;
}

.price {
  font-size: 1.8em;
  font-weight: bold;
  color: #28a745;
  margin-bottom: 10px;
}

.description {
  font-size: 1em;
  color: #555;
  margin-bottom: 20px;
}

.enroll-btn {
  background-color: #013b59;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* .enroll-btn:hover {
  background-color: #025a8e;
} */

@media (max-width: 1024px) {
  .program {
    padding: 0 5%;
  }
}

@media (max-width: 768px) {
  .head {
    display: flex;
    /* width: 80%; */
  }

  .program {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 7px; */
  }
  .programm {
    flex-basis: 100%;
    margin-bottom: 30px;
  }

  .head h2 {
    font-size: 28px;
  }

  .head p {
    font-size: 16px;
  }
}
