/* InstructPage.css */

.instructors-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.instructors-header {
  color: #0077be;
  text-align: center;
  margin-bottom: 20px;
}

.instructors-intro {
  text-align: center;
  margin-bottom: 40px;
  font-size: 1.1em;
  line-height: 1.6;
}

.instructors-grid {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.instructor-card {
  display: flex;
  background-color: #f0f8ff;
  border-radius: 1px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.instructor-card:hover {
  transform: translateY(-5px);
}

.instructor-image {
  width: 500px;
  max-height: 450px;
  object-fit: cover;
  object-position: top;
}

.instructor-info {
  padding: 15px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* flex-grow: 1; */
  max-width: 50%;
}

.instructor-name {
  color: #0077be;
  margin: 0 0 5px;
}

.instructor-title {
  color: #333;
  font-size: 1em;
  margin: 0 0 10px;
}

.instructor-bio {
  font-size: 0.9em;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .instructor-card {
    flex-direction: column; /* Stack on smaller screens */
  }

  .instructor-image {
    width: 100%;
    /* height: auto;  */
  }

  .instructors-container {
    max-width: 100%;
    max-height: 50%;
  }
}
