body {
  margin: 0;
  /* padding: 0; */
  overflow-x: hidden; /* Prevent horizontal scroll */
}

.achieve {
  /* margin: 80px auto; */
  /* width: 90%; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* justify-content: space-between; */
  background-attachment: fixed;
  background-color: #013b59;
  /* background-image: url("../../assets/CompetitiveSwim.png"); */
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  clear: both;
  overflow: hidden;
  padding: 70px 0px;
  position: relative;
  /* clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 85% 100%, 15% 100%, 0% 90%); */
}

.grid {
  display: flex;
  align-items: center;
  /* gap: 50px; */
  text-align: center;
}

.item {
  padding: 20px;
}

.counter-text {
  /* font-size: 40px; */
  font-weight: 600;
  color: #f6f8f9;
}

.item-text {
  /* padding-top: 2px; */
  color: #e1e6e9;
  font-weight: 600;
}

@media (max-width: 768px) {
  .grid {
    gap: 1px; /* Further reduce gap between items */
  }

  .counter-text {
    font-size: 24px; /* Adjust font size further */
  }
  .item-text {
    padding-bottom: 2px;
    font-size: 16px;
    color: #595959;
    font-weight: 600;
  }
}

@media (max-width: 480px) {
  .achieve {
    /* display: flex; */
    /* flex-direction: column; */
    padding: 10px; /* Reduce padding */
  }

  .grid {
    flex-direction: column;
    gap: 5px; /* Further reduce gap */
  }

  .counter-text {
    font-size: 20px; /* Adjust font size for smaller screens */
  }

  .item-text {
    font-size: 14px; /* Decrease font size */
  }
}

/* Media Queries for Smaller Screens */
/* @media screen and (max-width: 1024px) {
  .achieve {
    padding: 30px 15px;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .counter-text {
    font-size: 4rem;
  }
}

@media screen and (max-width: 768px) {
  .achieve {
    padding: 20px 10px;
  }
  .grid {
    grid-template-columns: 1fr;
  }
  .counter-text {
    font-size: 3rem;
  }
} */
