/* Achievement.css */

.achieve {
  padding: 10px 20px; /* Adjust padding as needed */
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  text-align: center;
}

.item {
  padding: 10px; /* Adjust padding for each grid item */
}

.counter-text {
  font-size: 60px;
  font-weight: 600;
  color: #262626;
}

.item-text {
  /* padding-top: 2px; */
  color: #595959;
  font-weight: 600;
}

/* Media Queries for Smaller Screens */
@media screen and (max-width: 1024px) {
  .achieve {
    padding: 30px 15px;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .counter-text {
    font-size: 4rem;
  }
}

@media screen and (max-width: 768px) {
  .achieve {
    padding: 20px 10px;
  }
  .grid {
    grid-template-columns: 1fr;
  }
  .counter-text {
    font-size: 3rem;
  }
}
